<div class="full">
  <div class="notHome">
    <h1 class="text-center text-muted active">
      Nick Bekeris
    </h1>
    <ul class="inline text-center text-primary">
      <li class="inactive">
        Administrator,
      </li>
      <li class="inactive">
        Designer,
      </li>
      <li class="inactive">
        Developer,
      </li>
      <li class="inactive">
        Gamer,
      </li>
      <li class="inactive">
        Musician...
      </li>
      <li class="inactive">
        Nerd.
      </li>
    </ul>
    <div class="auto nav center-block">
      <div class="circle about img-circle active">
        <a class="text-center" href="about">
          About
        </a>
      </div>
      <div class="circle portfolio img-circle">
        <a class="text-center" href="portfolio">
          Portfolio
        </a>
      </div>
      <div class="circle blog img-circle">
        <a class="text-center" href="http://otd.bekeris.info">
          Blog
        </a>
      </div>
      <div class="circle contact img-circle">
        <a class="text-center" href="contact">
          Contact
        </a>
      </div>
      <a href="/">
        <img src="/img/headshot.jpg" title="ugly mug" alt="ugly mug" class="headshot img-circle">
      </a>
      <div class="circle fb img-circle">
        <a class="text-center social" href="contact">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <div class="circle github img-circle">
        <a class="text-center social" href="contact">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <div class="circle twitter img-circle">
        <a class="text-center social" href="contact">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="circle linked img-circle">
        <a class="text-center social" href="contact">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <div class="circle steam img-circle">
        <a class="text-center social" href="contact">
          <i class="fa fa-steam"></i>
        </a>
      </div>
      <div class="circle skype img-circle">
        <a class="text-center social" href="contact">
          <i class="fa fa-skype"></i>
        </a>
      </div>
    </div>
  </div>
</div>