<div class="full">
  <div class="notHome">
    <h1 class="text-center text-muted active">
      Nick Bekeris
    </h1>
    <ul class="inline text-center text-primary">
      <li class="inactive">
        Administrator,
      </li>
      <li class="inactive">
        Designer,
      </li>
      <li class="inactive">
        Developer,
      </li>
      <li class="inactive">
        Gamer,
      </li>
      <li class="inactive">
        Musician...
      </li>
      <li class="inactive">
        Nerd.
      </li>
    </ul>
    <div class="auto nav center-block">
      <div class="circle about img-circle active">
        <a class="text-center" href="about">
          About
        </a>
      </div>
      <div class="circle portfolio img-circle">
        <a class="text-center" href="portfolio">
          Portfolio
        </a>
      </div>
      <div class="circle blog img-circle">
        <a class="text-center" href="http://otd.bekeris.info">
          Blog
        </a>
      </div>
      <div class="circle contact img-circle">
        <a class="text-center" href="contact">
          Contact
        </a>
      </div>
      <a href="/">
        <img src="/img/headshot.jpg" title="ugly mug" alt="ugly mug" class="headshot img-circle">
      </a>
      <div class="circle fb img-circle">
        <a class="text-center social" target="_new" href="http://www.facebook.com/salocHInBD">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <div class="circle github img-circle">
        <a class="text-center social" target="_new" href="http://www.github.com/nickBekeris">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <div class="circle twitter img-circle">
        <a class="text-center social" target="_new" href="http://www.twitter.com/NickBekeris">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="circle linked img-circle">
        <a class="text-center social" target="_new" href="http://www.linkedin.com/in/nickBekeris">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <div class="circle steam img-circle">
        <a class="text-center social" target="_new" target="_new" href="http://steamcommunity.com/id/deceptic0n">
          <i class="fa fa-steam"></i>
        </a>
      </div>
      <div class="circle skype img-circle">
        <a class="text-center social" target="_new" href="skype:nick.bekeris?call">
          <i class="fa fa-skype"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="auto content center-block">
    <h2>
      About Me
    </h2>
    <p>
      There are many activities I enjoy to participate in, but I wont bore you 
      that long list right now. However, I have been developing and teaching 
      myself many languages for just under a decade, and using these skills for 
      others now as well.
    </p>
    <p>
      Development has definitely become a passion of mine, and I plan to make a 
      success from what I am continuously learning. I currently host servers for 
      a few different video games (counter-strike & minecraft), as well as some 
      voIP servers (mumble), and development sandboxes.
    </p>
    <p>
      I also run a blog where I plan to keep updates of new projects as well as 
      useful information that I continue to learn.
    </p>
    
    <h2>
      Technical Experience
    </h2>
    <p>
      I have many different levels experience with a variety of different languages;
      however, recently I have been using Node.JS with different front and back
      end JavaScript libraries. I have been using the MEAN stack mostly with the
      new applications and sites in my portfolio, but LAMP stacks are an art I
      have come close to mastering as well.
    </p>
    <p>
      I first started with HTML, CSS, & JavaScript back in 2007 to develop a simple
      website on a LAMP stack for a gaming group I played with and admired. Ever
      since then I have been advancing further into OOP and MVC development using
      PHP, and now AngluarJS on MEAN stacks.
    </p>
    <p>
      I have quickly fallen in love with AngularJS, BackboneJS, and KnockoutJS for
      creating different single page applications. This website here is running
      off of a MEAN stack with AngularJS and jQuery. You can view some more of
      the applications and languages I've used in my <a href="/portfolio">portfolio</a>.
    </p>
    
    <h2>
      Resume
    </h2>
    <p>
      If you want an in depth look at my experience and overly crowded work history,
      you can download my resume <a target="_new" href="/docs/resume.docx">here</a>.
    </p>
  </div>
</div>