<div class="full">
  <div class="vert">
    <h1 class="text-center text-muted">
      Nick Bekeris
    </h1>
    <ul class="inline text-center fader">
      <li class="inactive">
        Administrator,
      </li>
      <li class="inactive">
        Designer,
      </li>
      <li class="inactive">
        Developer,
      </li>
      <li class="inactive">
        Gamer,
      </li>
      <li class="inactive">
        Musician...
      </li>
      <li class="inactive">
        Nerd.
      </li>
    </ul>
    <img src="/img/headshot.jpg" title="ugly mug" alt="ugly mug" class="center-block headshot img-circle">
  </div>
</div>