<div class="full">
  <div class="notHome">
    <h1 class="text-center text-muted active">
      Nick Bekeris
    </h1>
    <ul class="inline text-center text-primary">
      <li class="inactive">
        Administrator,
      </li>
      <li class="inactive">
        Designer,
      </li>
      <li class="inactive">
        Developer,
      </li>
      <li class="inactive">
        Gamer,
      </li>
      <li class="inactive">
        Musician...
      </li>
      <li class="inactive">
        Nerd.
      </li>
    </ul>
    <div class="auto nav center-block">
      <div class="circle topleft img-circle">
        <a class="text-center" href="about">
          About
        </a>
      </div>
      <div class="circle top img-circle active">
        <a class="text-center" href="portfolio">
          Portfolio
        </a>
      </div>
      <div class="circle topright img-circle">
        <a class="text-center" href="contact">
          Contact
        </a>
      </div>
      <a href="/">
        <img src="/img/headshot.jpg" title="ugly mug" alt="ugly mug" class="headshot img-circle">
      </a>
    </div>
  </div>
</div>