<div class="full">
  <div class="notHome">
    <h1 class="text-center text-muted active">
      Nick Bekeris
    </h1>
    <ul class="inline text-center text-primary">
      <li class="inactive">
        Administrator,
      </li>
      <li class="inactive">
        Designer,
      </li>
      <li class="inactive">
        Developer,
      </li>
      <li class="inactive">
        Gamer,
      </li>
      <li class="inactive">
        Musician...
      </li>
      <li class="inactive">
        Nerd.
      </li>
    </ul>
    <div class="auto nav center-block">
      <div class="circle about img-circle">
        <a class="text-center" href="about">
          About
        </a>
      </div>
      <div class="circle portfolio img-circle active">
        <a class="text-center" href="portfolio">
          Portfolio
        </a>
      </div>
      <div class="circle blog img-circle">
        <a class="text-center" href="http://otd.bekeris.info">
          Blog
        </a>
      </div>
      <div class="circle contact img-circle">
        <a class="text-center" href="contact">
          Contact
        </a>
      </div>
      <a href="/">
        <img src="/img/headshot.jpg" title="ugly mug" alt="ugly mug" class="headshot img-circle">
      </a>
      <div class="circle fb img-circle">
        <a class="text-center social" target="_new" href="http://www.facebook.com/salocHInBD">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <div class="circle github img-circle">
        <a class="text-center social" target="_new" href="http://www.github.com/nickBekeris">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <div class="circle twitter img-circle">
        <a class="text-center social" target="_new" href="http://www.twitter.com/NickBekeris">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="circle linked img-circle">
        <a class="text-center social" target="_new" href="http://www.linkedin.com/in/nickBekeris">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <div class="circle steam img-circle">
        <a class="text-center social" target="_new" target="_new" href="http://steamcommunity.com/id/deceptic0n">
          <i class="fa fa-steam"></i>
        </a>
      </div>
      <div class="circle skype img-circle">
        <a class="text-center social" target="_new" href="skype:nick.bekeris?call">
          <i class="fa fa-skype"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="auto content center-block">
  <h2>
    Portfolio
  </h2>
  <p>
    This is not quite complete yet, and I'm still continuously learning more and
    updating current applications as well as this site.
  </p>
  <p>
    For now, you can view more of my recent works on my 
    <a target="_new" href="http://github.com/nickBekeris">GitHub</a> page.
  </p>
  </div>
</div>