html, body {
  height: 100%;
}

body {
  background-color: lightgrey;
}

div {
  height: 100%;
  &.auto {
    height: auto;
  }
  &.nav {
    margin: 6em auto;
    position: relative;
    width: 15em;
    .circle {
      border: 1px solid grey;
      display: table;
      position: absolute;
      &.portfolio {
        left: 1em;
        top: -4em;
      }
      &.blog {
        left: 9.25em;
        top: -4em;
      }
      &.about {
        left: -4.25em;
        top: 1.5em;
      }
      &.contact {
        left: 14.75em;
        top: 1.5em;
      }
      &.fb {
        left: -2em;
        top: 10em;
      }
      &.github {
        left: 0.25em;
        top: 13em;
      }
      &.twitter {
        left: 4em;
        top: 15em;
      }
      &.linked {
        left: 8.5em;
        top: 15em;
      }
      &.steam {
        left: 12.25em;
        top: 13em;
      }
      &.skype {
        left: 14.5em;
        top: 10em;
      }
      &.active {
        background-color: #428bca;
        a {
          color: white;
        }
      }
      a {
        display: table-cell;
        height: 4.5em;
        vertical-align: middle;
        width: 4.5em;
        &.social {
          height: 2.25em;
          width: 2.25em;
        }
        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  &.full {
    display: table;
    width: 100%;
  }
  &.vert {
    display: table-cell;
    height: auto;
    vertical-align: middle;
  }
  &.mobile {
    display: block;
    height: auto;
    margin-top: 4em;
    h1 {
      font-size: 4em;
    }
  }
  &.notHome {
    display: block;
    height: auto;
    margin-top: 4em;
  }
  img {
    width: 100%;
    &.headshot {
      border: 1px solid #428bca;
      padding: .5em;
    }
  }
}

h1 {
  bottom: 1em;
  opacity: 0;
  position: relative;
  transition: opacity 1s, bottom 1s;
  -o-transition: opacity 1s, bottom 1s;
  -moz-transition: opacity 1s, bottom 1s;
  -webkit-transition: opacity 1s, bottom 1s;
  &.active {
    bottom: 0;
    opacity: 1;
  }
  font: {
    size: 5em;
    weight: 500;
  }
}

ul {
  &.inline {
    padding: 0;
    li {
      display: inline;
      font-size: 1.5em;
    }
  }
  &.fader {
    li {
      left: 1em;
      opacity: 0;
      position: relative;
      transition: opacity .5s, left .5s;
      -o-transition: opacity .5s, left .5s;
      -moz-transition: opacity .5s, left .5s;
      -webkit-transition: opacity .5s, left .5s;
      &.active {
        left: 0;
        opacity: 1;
      }
    }
  }
}